__pycache__/
.terraform/
.venv/
build/
rosm.cache/
venv/
*.bak
*.csv
*.dat
*.duckdb
*.egg-info/
*.geojson
*.hcl
*.jar
*.json
*.mapdb
*.mapdb.p
*.osm
*.parquet
*.pbf
*.pyc
*.tif
*.tiff
*.wal
*.zip
plan
.env
.DS_Store
.Rproj.user
