:root {
  --bg-color: #ffffff;
  --text-color: #484848;
  --icon-color: #949494;
  --gray-accent-1: #636363;
  --gray-accent-2: #555555;
  --gray-accent-3: #eeeeee;
  --gray-accent-4: #e1e1e1;
  --notice-color: #a0cefb;
  --warning-color: #d9c98d;
  --link-color: #2979bc;
  --visited-link-color: #8f5baa;
  --full-width: 720px;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-padding-top: 7em;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  min-height: 100%;
  overflow: hidden scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link-color);
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.05em;

  &:visited {
    color: var(--visited-link-color);
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  &:not(.rating-table) {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  td,
  th {
    border: 1.5px solid var(--gray-accent-1);
    text-align: center;
    padding: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.125;
}

.header-link {
  text-decoration: none;

  .header-link-icon {
    display: none;
    padding-left: 0.4em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);

    &:hover .header-link-icon,
    &:focus .header-link-icon,
    &:active .header-link-icon {
      display: inline;
    }
  }
}

hr {
  background-color: var(--gray-accent-1);
  border: 0;
  height: 1.5px;
  margin: 1.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 1.6rem 0;

  figcaption {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    margin-top: 0.6rem;
    padding: 0 1rem;
  }
}

ul,
ol {
  box-sizing: border-box;
}

.content {
  margin: auto;
  width: 100%;
  height: calc(100vh - 3.5em - 1px);

  code {
    font-size: 1.5rem;
    padding: 0 0.4rem;
    font-family: Monaco, monospace;
    background-color: var(--gray-accent-4);
  }

  pre {
    display: block;
    white-space: pre;
    margin: 1.25em 0;
    padding: 1.25em;
    overflow-x: auto;
    word-break: break-all;
    word-wrap: break-word;
    border: thin solid var(--gray-accent-4);
    border-radius: 3px;
    font-family: Monaco, monospace;
  }

  pre code,
  pre {
    background-color: var(--gray-accent-3);
  }

  pre code {
    padding: 0;
  }

  >article {
    max-width: var(--full-width);
    margin: auto;
    padding: 1em 1.25em 1.25em;
  }
}

.hover-icon {
  svg {
    fill: var(--icon-color);
  }

  svg:hover {
    fill: var(--text-color);
  }
}

.link-nowrap-nodec {
  color: var(--text-color) !important;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

.navbar {
  height: 3.5em;
  background-color: var(--bg-color);
  border-bottom: 1.5px solid var(--gray-accent-1);
}

.navbar-content {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: auto;
  z-index: 999;
  padding: 1em 2rem;
  align-items: baseline;

  >.navbar-title {
    font-size: 1.9rem;
    margin: 0;
    padding-top: 0.2em;
    white-space: nowrap;
    line-height: 1;
  }

  >.navbar-internal-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style: none;
    text-transform: capitalize;
    margin: 0;
    padding: 0 0.4em 0 0;
    line-height: 1;

    li {
      padding-right: 1em;
    }
  }

  >.navbar-external-links {
    display: flex;
    justify-content: space-between;
    min-width: calc(1.4em * 2 + 1rem);
    align-self: center;
  }
}

.navbar-external-links>.navbar-external-link {
  display: block;
  width: 1.4em;
  height: 1.4em;

  >svg {
    width: 1.4em;
    height: 1.4em;
  }
}

blockquote,
.content pre,
.notice,
.warning {
  margin: 1.25em 0;
  padding: 1.25em;
  border: thin solid var(--gray-accent-1);
  background-color: var(--gray-accent-3);
  border-radius: 3px;
  box-sizing: border-box;
}

blockquote p,
.notice p,
.warning p {
  margin: 0;
}

.notice::before,
.warning::before {
  border-right: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  border-bottom-right-radius: 3px;
  display: block;
  text-align: center;
  position: relative;
  left: -1.25em;
  top: -1.25em;
  padding: 2px 10px;
  font-weight: bold;
}

.notice::before {
  content: "NOTE";
  background: var(--notice-color);
  width: 5rem;
}

.warning::before {
  content: "WARNING";
  background: var(--warning-color);
  width: 8rem;
}

#map {
  height: 100%;
  width: 100%;
}

/* support for Edge */
@supports (-ms-ime-align: auto) {
  .navbar-content>.navbar-internal-links {
    justify-content: space-around;
    margin: 0 1.4rem;
  }
}

/* adjustment when very small */
@media only screen and (max-width: 720px) {
  html {
    scroll-padding-top: 1.5em;
  }

  .content {
    height: calc(100vh - 5.8em - 1px);
  }

  .navbar {
    height: 5.8em;
  }

  .navbar-content {
    grid-template-columns: 1fr min-content;

    >.navbar-title {
      padding-top: 0;
      line-height: 1.5;
    }

    >.navbar-internal-links {
      margin-top: 0.6rem;
      line-height: 1.5;
      justify-content: start;
      grid-column: 1 / span 2;

      a {
        text-decoration: underline;
      }
    }

    >.navbar-external-links {
      grid-row: 1;
      grid-column: 2;
      justify-content: space-between;
      width: calc(1.8em * 2 + 1rem);
    }
  }

  .navbar-external-links>.navbar-external-link {
    display: block;
    width: 1.8em;
    height: 1.8em;

    svg {
      width: 1.8em;
      height: 1.8em;
    }
  }
}
