{{ define "styles" }}
{{ $maplibrecss := resources.Get "vendor/maplibre-gl-4.7.0.min.css" | fingerprint }}
<link href="{{ $maplibrecss.RelPermalink }}" rel="stylesheet"/>
{{ end }}

{{ define "scripts" }}
{{ $maplibrejs := resources.Get "vendor/maplibre-gl-4.7.0.min.js" | fingerprint }}
{{ $map := resources.Get "js/map.js" | minify | fingerprint }}
<script defer src="{{ $maplibrejs.RelPermalink }}"></script>
<script defer src="{{ $map.RelPermalink }}"></script>
{{ end }}

{{ define "main" }}
<div id="map"></div>
{{ end }}
